.SearchArea {
  .resultcard1 {
    width: 100%;

  }
  .resultcard {
    width: 100%;
    margin: auto;

  }
  .clustercard {
    // margin:5px;
    padding: 5px;
    //width: 100%;
    margin-bottom: 10px !important;

  }
  .entityhover {
    // &:hover {
    //       	transform: scale(1);
    //       	background-color: skyblue;
    //      		z-index: 1;
    // }
  }

  .docblock {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
  }
  .example {
    padding-bottom: 0px !important;
  }
  .header {
    text-align: center;
  }
  .dropdown .header {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
  }

  .resultheader {
    font-size: 1.2em !important;
    text-align: left !important;
  }
  .resultText {
    text-align: left;
  }
  .meta {
    font-size: 1em !important;
    // text-align: center;
  }
  .docheader {
    font-size: 1em !important;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .description {
    font-size: 1.3em !important;

  }
  .clusterbutton {
    margin-left: 20px !important;
  }

  .entityContent {
    padding-top: 20px;
  }
  .results {
    text-align: center !important;
  }
  .searchbar {
    z-index: 3;
    padding: 0px 30px 40px 30px;
  }
  .searchResult {
    padding: 0px 25px 0px 25px;

  }
  .correspondingDoc {
    padding-top: 60px !important;

  }

  div.docblock > div:nth-child(1) {
    margin-top: 1em !important;
  }

  div.docblock .clip-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
    white-space: nowrap;
  }
}

.entityHeader {
  font-size: 1.5em !important;
  font-weight: bold;
  text-align: center !important;
}

.labelbutton {
  margin: 2px !important;
}

.addcontent {
  font-weight: bold;
}

.add {
  font-size: 15
}

.addname {
  color: #ff500a;
}

.highlight {
  color: orange
}

.es-more-like-this {
}

#es-side-header {
  text-align: center;
  font-size: 14px;
}

#es-side-filters {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

#es-side-add-more {
  text-align: left;
}

.searchbar table {
  margin: auto;
}

.searchbar a {
  margin: auto;
}

#es-more-like-this-footer {
  position: fixed;
  display: table;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  height: 150px;
  z-index:999;
  background-color: rgba(0,0,0,.7);
  z-index: 9001;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: bottom .5s;
  .table-cell {
    display:table-cell;
    vertical-align: middle;
  }
  img {
    height:140px;
  }
}

#inferDocumentPropertiesBtn {
  margin: auto;
  float: right;
}

